*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
	padding: 0;
	margin: 0;
    text-decoration: none;
    background: #F2FBFF;
}
.top_navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 61px;
    box-shadow: 1px 0 2px rgba(0,0,0,0,125);
    display: flex;
    background: #3AAFE9;
    align-items: center;
}
.logo{
    display: flex;
    width: 100%;
    font-size:4vh;
    font-weight: bold;
    padding: 0 10px;
    color: white; 
    text-transform: uppercase;
}

.top_navbar ul a{
    display: flex;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 25px 0 0;
    color: white; 
    text-transform:capitalize;
}
.top_navbar .logoimg {
    padding: 0 25px 0;
    height: 80%;
    display: flex;

}
.logimg{
    display: flex;
    padding:  0 5px 0;
    width: 35px;
}

.sidebar{
    display: flex;
    position: fixed;
    left: 0;
    top: 60px;
    width: 220px;
    height: 100%;
    background: #073879;
    
}
.sidebar_inner ul li img{
    padding: 0px 10px 0px 5px;
    width: 5.5vh;
    align-content: center;
}
.sidebar_inner ul li{
    color: white;
    border-bottom: 1px solid #065f86;
    padding: 10px 15px;
    align-content: center;
}

.sidebar_inner ul li a{
   
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-size: 17px;
    text-decoration: none;
}
.sidebar ul li a:hover{
   padding-left: 25px;
    
}
/*  */

